div {
    background-color: #0800ff;
    border:2px solid #0b0b0b ;
    border-radius:22px;
    margin:auto;
    width:450px ;
    text-align: center;
    padding:20px 5px;
}
span {
    color: #f2f0ff;
    font-family:Oxygen;
    font-weight:"300" ;
    font-size: 18px;
    margin-bottom: 60px;
}
h1 {
    color: #ffffff;
    font-family:Istok Web;
    font-size: 60px;
    margin: 0;
    margin-top: 35px;
}
p {
    color: #f7f6ff;
    font-family:Oxygen;
    font-weight:"300" ;
    font-size: 22px;
    margin: 0;
    margin-top: 36px;
    margin-bottom: 26px;
}
.button {
    text-decoration: none;
    padding:25px 174px ;
    background-color:#000000 ;
    color: #ffffff ;
    display:inline-block ;
    font-family:Istok Web;
    font-size: 30px;
    border-radius:22px;
}
.button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}